<% include _html_header.ejs %>
<% include _nav.ejs %>
  <div id="wrapper">
    <div id="content">

    	<form action="/edit/<%= edit.id %>" method="post">
    		<p>Title</p>
    		<input type="string" name="title"  value="<%= edit.title%>"><br><br>
    		<p>Message</p>
    		<textarea rows="10" cols="30" name="post"><%= edit.post%></textarea><br><br>
    		<button type="submit">Edit</button>
      </form>
    </div>
  </div>
<% include _html_footer.ejs %>
