<div id="nav">
  <div id="nav-wrapper">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/messageboard">Message Board</a></li>
           
      <% if(req.isAuthenticated()){ %>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/profile">Profile</a></li> 
      <% } else { %>
      <li><a href="/auth/facebook">Signin!</a></li>
      <% } %>
      <div id="bulldog">
        <img src="/images/img_1568.jpg" width="42" height="42">
      </div>
    </ul>
  </div>
</div>
