<% include _html_header.ejs %>
<% include _nav.ejs %>
  <div id="wrapper">
    <div id="content">

    	<form action="/edit/<%= edit.id %>" method="post">
    		<input type="string" name="title"  value="<%= edit.title%>">
    		<textarea rows="10" cols="30" name="post"><%= edit.post%></textarea>
    		<button type="submit">Edit Add if statement!!!!!!!</button>
      </form>
    </div>
  </div>
<% include _html_footer.ejs %>
