<% include _html_header.ejs %>
  <% include _nav.ejs %>
<form method="post" enctype="multipart/form-data" action="/file-upload">
    Thing<input type="text" name="username">
    <input type="password" name="password">
    <input type="file" name="thumbnail">
    <input type="submit">
</form> -->
<% include _html_footer.ejs %>
