<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/charts.css' />
    <script src="/scripts/jquery-1.11.1.min.js"></script>
    <script src="/scripts/d3.min.js"></script>
    <script src="/scripts/chartlogic.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/messageboard">Messageboard</a>
    <h5>Create Account</h5>
    <form action="/newuser" method='post'>
    	<input type="string" name="username" placeholder="Username"/>
    	<input type="email" name="email" placeholder="Email"/>
    	<input type="submit" placeholder="Create"/>
    </form>
    <h5>Signin</h5>
    <form action="/signin" method='post'>
    	<input type="string" name="username" placeholder="Username"/>
    	<input type="email" name="email" placeholder="Email"/>
    	<input type="submit" placeholder="Signin"/>
    </form>
    <br/>
    <br/>
    Guaranteed Analysis<input type="radio" id="guaranteed_analysis" name="method" value=0 onclick="update(0)"/><br/>
    Dry Matter Basis<input type="radio" id="dry_matter_basis" name="method" value=0 onclick="update(1)"/><br/>
    Calorie Weighted Basis<input type="radio" id="calorie_weighted_basis" name="method" value=0 onclick="update(2)"/><br/>
    <h3 id="method">Guaranteed Analysis</h3>
  </body>
</html>