<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/messageboard">Messageboard</a>
    <h5>Create Account</h5>
    <form action="/newuser" method='post'>
    	<input type="string" name="username" placeholder="Username"/>
    	<input type="email" name="email" placeholder="Email"/>
    	<input type="submit" placeholder="Create"/>
    </form>
    <h5>Signin</h5>
    <form action="/signin" method='post'>
    	<input type="string" name="username" placeholder="Username"/>
    	<input type="email" name="email" placeholder="Email"/>
    	<input type="submit" placeholder="Signin"/>
    </form>
  </body>
</html>