<% include _html_header.ejs %>
  <% include _nav.ejs %>
  <div id="wrapper">
    <div id="content">
  	<form action="/post" method="post">
  		 Title:
      <br><input type="string" name="title"  placeholder="Title"> <br><br>
      Message:<br>
             <div class="photo"></div>
      <textarea rows="10" cols="30" name="content"></textarea>
      <br><br><input type="submit" name="Post!">
      <h1>Posts</h1>
        <ul>
        <% for(var i=0; i<messageboard.length; i++) {%>

          <li><%= messageboard[i].title %></li>
          <li><%= messageboard[i].post %></li>
          <li><form action="/delete/<%= messageboard[i]._id %>" method="post">
        <% if(id == messageboard[i].fbId) { %>
            <button type="submit">Delete</button>
            </form></li>
            <li><a href="/edit/<%= messageboard[i]._id %>">Edit</a></li>
        <% } %>
        <% } %>
      </ul>
    </div>
  </div>

