<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="/scripts/jquery-1.11.1.min.js"></script>
    <script src="/scripts/jquery-ui-1.10.4.min.js"></script>
    <script src="scripts/profile.js"></script>
  </head>
  <body>
    <% include nav.ejs %>
 <!--  The code below the creates html form when you -->
  <div id="wrapper">
    <div id="content">
    <!-- Begin Guido Experiment -->
      <div id="dialog" title="Pet Information">
        <form action="/create" method="post">
          <fieldset class="ui-helper-reset">
            <label for="tab_title">Name</label>
            <input type="text" name="name" id="tab_title" value="" class="ui-widget-content ui-corner-all"><br>
            <label for="tab_content">Age&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <label for="tab_content">Approx. Weight</label><br>
            <input type="text" name="age" id="tab_title" value="" class="ui-widget-content ui-corner-all" size="4">
            <input type="text" name="weight" id="tab_title" value="" class="ui-widget-content ui-corner-all" size="4"><br><br>
            <label for="tab_title">License Number</label>
            <input type="text" name="licensenumber" id="tab_title" value="" class="ui-widget-content ui-corner-all"><br>

            <label for="tab_title">Breed</label><br>
            <input type="text" name="breed" id="tab_title" value="" class="ui-widget-content ui-corner-all">

            <label for="tab_title">Color/Markings</label><br>
            <input type="text" name="markings" id="tab_title" value="" class="ui-widget-content ui-corner-all">


            <p>Immunizations:</p>

            <label for="tab_title">&nbsp;&nbsp;&nbsp; Date Administered:</label><br>
            <input type="checkbox" name="parvovirus" id="tab_title" value="" class="ui-widget-content ui-corner-all">



          </fieldset>
        </form>
      </div>

        <!-- <h1>Hey <%= profile.userName%> your here!</h1>
    <h3>Add your Pet!<h3>
      <form action="/create/<%= profile._id %>" method="post">
        <input type="string" name="name" placeholder="name">
        <input type="integer"name="age" placeholder="age">
        <input type="string" name="shots" placeholder="shots">
        <input type="string" name= "weight" placeholder="weight">
        <input type="integer"name= "type" placeholder="type">
        <input type="string" name= "photo" placeholder="photo">
        <button type="submit">Add!</button> -->
        <h1> Hey <%= profile.userName %> Welcome to your pets profile</h1>

         <div id="tabs">
        <ul>
          <li><a href="#tabs-1">Add your pet here!</a> <!-- <span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span> --></li>
        </ul>
          <div id="tabs-1">
            <p>Hello please add a pet(s) to your profile.  If this breaks your SOL!</p>
            <button id="add_tab">Add Pet</button>
          </div>
      </div>
          <br>

    </div>

  </body>
  </html>