<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h1>Hey your here!</h1>
  	<ul>

  		<li><%= profile.userName%></li>

  	</ul>
  </body>
  </html>